<template name="layoutFooterCustomShop">
  <nav class="navbar-bottom" role="navigation">
    <div class="row">
        <ul class="pull-left col-xs-6 col-sm-2 col-sm-offset-1">
          <hr>
          <li class="heading">MEEMTEES</li>
          <li><a href="">FAQ</a></li>
          <li><a href="{{pathFor 'contact'}}">CONTACT US</a></li>
          <li><a href="{{pathFor 'about'}}">ABOUT</a></li>
          <li><a href="">PRIVACY POLICY</a></li>
          <li><a href="">RETURNS/EXCHANGES</a></li>
        </ul>
        <ul class="pull-left col-xs-6 col-sm-2 col-sm-offset-1">
          <hr>
          <li class="heading">QUICK LINKS</li>
          <li><a href="">SITE MAP</a></li>
          <li><a href="">SEARCH TERMS</a></li>
          <li><a href="">ADVANCED SEARCH</a></li>
        </ul>
        <ul class="pull-left col-xs-6 col-sm-2 col-sm-offset-1">
          <hr>
          <li class="heading">ACCOUNT</li>
          <li><a href="">MY ACCOUNT</a></li>
          <li><a href="">ORDERS AND RETURNS</a></li>
        </ul>
        <ul class="pull-left col-xs-6 col-sm-2 col-sm-offset-1">
          <hr>
          <li class="heading">COMMUNITY</li>
          <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp;FACEBOOK</a></li>
          <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;INSTAGRAM</a></li>
          <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;TWITTER</a></li>
        </ul>
    </div>
  </nav>
</template>
